/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Base styles */
  body {
    font-family: sans-serif;
    color: #5a5b6d;
    background-color: #fff;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #2c52b3;
    padding: 20px;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fb2f38;
  }
  
  header nav {
    margin-left: auto;
  }
  
  header nav a {
    display: inline-block;
    margin-left: 20px;
    color: #fff867;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  header nav a:hover {
    color: #e6e2a3;
  }

  
  

  /* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Base styles */
  body {
    font-family: sans-serif;
    color: #5a5b6d;
    background-color: #fff;
  }
  
  /* Banner */
  .banner {
    background-image: url("https://static.bandainamcoent.eu/high/gundam/gundam-versus/00-page-setup/gv_banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  .box{
    background-color: white;
    padding: 3vh;

  }

  .banner-text {
    color: black;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .banner-button {
    background-color: #00bcd4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    margin: auto;
  }
  











/* CSS for styling the grid layout */
.shop-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  /* Media query for mobile devices */
  @media (max-width: 900px) {
    .shop-items {
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
    }
  }

  /* CSS for styling the individual shop items */
  .shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 2px black;
    border-style: solid;
  }
  .shop-item img {
    width: 100%;
    height: 450px;
    object-fit: cover;

  }
  .shop-item h2 {
    margin-top: 8px;
  }
  .shop-item p {
    margin-top: 4px;
    font-size: 14px;
  }
  /* CSS for styling the search bar and category selector */
  .search-container {
    width: 65%; margin: 10px auto; border: 1px solid #ccc; padding: 10px; text-align: center;
  }
  .secondSearchContainer
  {
    display: flex; align-items: center; justify-content: center;
  }
  .search-container input[type="text"] {
    padding: 8px; font-size: 18px; margin-right: 16px; width: 50%;
  }
  .search-container select {
    padding: 8px; font-size: 18px; margin-right: 16px; width: 20%;
  }
  .search-container button {
    background-color: #2c52b3; color: white; padding: 9px 32px; font-size: 18px; border: none; cursor: pointer;
  }








  /* Footer */
footer {
    background-color: #fff867;
    padding: 20px;
    color: #5a5b6d;
    font-size: 14px;
    text-align: center;
  }
  
  footer .social-media {
    margin-top: 20px;
  }
  
  footer .social-media a {
    display: inline-block;
    margin-left: 10px;
    color: #5a5b6d;
    font-size: 24px;
  }
  
  footer .social-media a:hover {
    color: #2c52b3;
  }

  .sectionTitles {
    width: 100vw; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
  }

  .info{
    display: flex;
    justify-content: space-around;
    color: #000000;
    margin: 5px 0;
  }

  .price{
    margin-left: 8vw;
  }

  .checked{
    color:#ebcf41
  }

  .unchecked{
    color: #9d9d9d;
  }

  .btn-primary {
    background: #2c52b3;
}

.btn{
    margin-top:2px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 8px;
    color: #ffffff;
    position: relative;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
}


.btn:hover{
    background-color:#315ac2;
}

.items-filters{
    display: flex;
    flex-direction: row;
}

.filters{
    width: 20vw;
    background-color: #ffffff;
    margin: 5px 10px 0 10px;
}

div.stitle{
    text-align: center;
    font-weight: bold;
    color:#2c52b3;
    font-size: 16px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.sellers{
    height: 95px;
    box-shadow: 1px 2px 5px rgb(182, 180, 180);
}

div input{
    padding: 0;
}

.chckbx{
    margin-left: 5px;
    margin-top: 4px;
    font-size: 1vwpx;
}

.stars{
    height: 160px;
    box-shadow: 1px 2px 5px rgb(182, 180, 180);
    margin-top: 15px;
}

.number-reviews{
    height: 140px;
    box-shadow: 1px 2px 5px rgb(182, 180, 180);
    margin-top: 15px;
}

.price-range{
    height: 80px;
    box-shadow: 1px 2px 5px rgb(182, 180, 180);
    margin-top: 15px;
}

.minprice{
    width: 25%;
}

.maxprice{
    width: 25%;
}

.title-filters{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

@media (max-width: 900px) {

    .price{
        margin-left: 13vw;
      }

    .items-filters {
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
    }
    .filters{
        width: 80vw;
        background-color: #ffffff;
        margin: 10px auto;
    }

    .entry{
        padding: 0;
        margin-top: 4px;
    }

    .stitle{
        padding: 0;
    }

    div.sellers{
        padding: 0;
    }

    .price-range{
        padding: 0;
    }

    div.stars{
        padding: 0;
    }

    div.number-reviews{
        padding: 0;
    }

    .search-container {
        width: 90%; margin: 10px auto; border: 1px solid #ccc; padding: 5px; text-align: center;
      }
      .secondSearchContainer
      {
        display: flex; align-items: center; justify-content: center; margin: 0;
      }
      .search-container input[type="text"] {
        padding: 5px; font-size: 12px; margin-right: 16px; width: 40%;
      }
      .search-container select {
        padding: 6px; font-size: 10px; margin-right: 16px; width: 40%;
      }
      .search-container button {
        background-color: #2c52b3; color: white; padding: 4px 0px; font-size: 12px; border: none; cursor: pointer;
      }

      input[type="text"], select, button {
        width: 20%;
        font-size: 16px;
        padding: 8px;
      }

      header nav a {
        font-size: 12px;
        margin-left: 5px;
    }
  
    header .logo{
        font-size:18px;
    }
    
  }
