
  header {
    position: absolute;
    display: flex;
    align-items: flex-start;
    background-color: #2c52b3;
    width: 100%;
    padding: 20px;
    top:0;
    margin-bottom: 20px;
  }
  
  header .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fb2f38;
  }
  
  header nav {
    margin-left: auto;
  }
  
  header nav a {
    display: inline-block;
    margin-left: 20px;
    color: #fff867;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
  }
  
  header nav a:hover {
    color: #e6e2a3;
  }

  
  /* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Base styles */
  #page-container {
    height: 98%;
    width: 100%;
  }

  .box-header{
    padding-top: 20px;
    margin: 0;
}

h1{
    font-weight: bold;
    color: #2c52b3;
    text-align: center;
    font-size: 25px;
}
  

  footer {
    background-color: #fff867;
    color: #5a5b6d;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #5a5b6d;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .box-registration{
    max-width: 700px;
    margin: 10vh auto 0;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #fff;
    display: block;
    border-radius: 20px;
    box-shadow: 1px 2px 5px #ccc;
    text-align: center;
    padding-bottom: 2%;
    z-index: 10;
  }

  .box-registration form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 10px 0;
  }

  form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 3 - 10px);
    text-align: center;
  }

  .user-details .input-box input{
    height: 30px;
    width: 85%;
  }

  form .input-box span.details{
    display: block;
    font-weight: bold;
    color:#2c52b3;
    font-size: 16px;
  }

  .input-box input {
    border: 0.5px solid rgb(75, 78, 86);
    border-radius: 4px;
    margin: 4px 0;
    padding: 5px 10px;
    font-size: 14px;
  }

  .user-gender{
    text-align: center;
  }

  .gender-details{
    padding-right: 10px;
    justify-items: center;
    font-weight: bold;
    color:#2c52b3;
    font-size: 16px;
  }

  .buttons{
    display: flex;
    justify-items: space-between;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .buttons .category{
    margin: 0 50px;
  }

  .logo a{
    color: #fb2f38;
    text-decoration:none;
  }

  input[type="radio"] {
    appearance: none;
    background-color: rgb(144, 140, 140);
    margin: 0;
    font: inherit;
    color: rgb(144, 140, 140);
    width: 1em;
    height: 1em;
    border: 0.1em solid rgb(144, 140, 140);
    border-radius: 50%;
    transform: translateY(-2.5px);
  }
  
  input[type="radio"]:checked{
        background: #213566;
        border-radius: 50%;
        border: 0.2em solid rgb(144, 140, 140);
  }

  input[type="radio"]:hover{
        background: #213566;
        border-radius: 50%;
        border: 0.2em solid rgb(144, 140, 140);
        
    }

  .button{
        margin: 0 auto;
        display: block;
        background: #2c52b3;
        padding: 4px;
        width: 50%;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        border: 1px solid transparent;
        border-radius: 21px;
    }

    .background{
        background-image: url("gundamblurred.png");
      }

    textarea{
      margin-top: 10px;
      width: 90%;
      height: 20vh;
        resize: none;
        text-align: left;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer {
      position: absolute;
      background-color: #fff867;
      padding: 20px;
      color: #5a5b6d;
      font-size: 14px;
      text-align: center;
    }

    @media (max-width: 800px) {

      .box-registration{
        max-width: 400px;
        margin-top: 60px auto 0px;
      }

      form .user-details .input-box{
        margin: 20px 0 12px 0;
        width: 80%;
        text-align: center;
      }
    
      header nav a {
        font-size: 12px;
        margin-left: 5px;
    }
  
    header .logo{
        font-size:18px;
    }
    }










